/* CSS declarations go here */
html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#topBar {
}

/* just so bootstrap doesn't screw with our divs */
#content, #main-view, #homepage {
	padding: 0;
}